@font-face {
    font-family: 'icomoon';
    src:  url('/assets/fonts/icomoon.eot?khqkmc');
    src:  url('/assets/fonts/icomoon.eot?khqkmc#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?khqkmc') format('truetype'),
    url('/assets/fonts/icomoon.woff?khqkmc') format('woff'),
    url('/assets/fonts/icomoon.svg?khqkmc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-call-center-1:before {
    content: "\e906";
}
.icon-call-center:before {
    content: "\e907";
}
.icon-zeng:before {
    content: "\e905";
}
.icon-bank:before {
    content: "\e900";
}
.icon-user-experience:before {
    content: "\e904";
}
.icon-network:before {
    content: "\e901";
}
.icon-customer-review-Kopya:before {
    content: "\e902";
}
.icon-team:before {
    content: "\e903";
}
