<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="./plugin/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="./plugin/owl-carousel/css/owl.theme.default.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Mobil Broker</title>
</head>

<body>
    <header>
        <div class="header-top">
            <div class="container d-flex justify-content-between align-items-center py-2">
                <div class="header-top-left d-flex ">
                    <span class="address"><i class="far fa-map-marker-alt"></i> Bakı, Əhməd Rəcəbli 156</span>
                </div>
                <div class="header-top-right d-flex">
                    <form class="search-form d-flex" action="#">
                        <input type="text" placeholder="Axtar...">
                        <button><i class="far fa-search"></i></button>
                    </form>
                    <div class="dropdown language-dropdown">
                        <div> AZ <i class="far fa-chevron-down"></i></div>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">EN</a></li>
                            <li><a class="dropdown-item" href="#">RU</a></li>
                        </ul>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in mx-3"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=+994503416662" target="_blank"><i
                                class="fab fa-whatsapp me-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="./index.html">
                    <img src="./images/logo-white.png" alt="">
                </a>
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="./pages/whoweare.html">BROKER KİMDİR?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./pages/about.html">HAQQIMIZDA</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="javascript:void(0)">
                                XİDMƏTLƏRİMİZ
                                <i class="far fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./pages/service-detail.html">Gömrük Bəyannamələrinin
                                        Tərtibi</a></li>
                                <li><a class="dropdown-item" href="./pages/service-detail.html">Tam Gömrük
                                        Təmsilçiliyi</a></li>
                                <li><a class="dropdown-item" href="./pages/service-detail.html">Avtomobillərin Gömrük
                                        Rəsmiləşdirilməsi</a></li>
                                <li><a class="dropdown-item" href="./pages/service-detail.html">Sertifikat Və Icazələrin
                                        Alınması</a></li>
                                <li><a class="dropdown-item" href="./pages/service-detail.html">Onlayn Müraciət
                                        Imkanı</a></li>
                                <li><a class="dropdown-item" href="./pages/service-detail.html">Ödənişsiz
                                        Konsultasiya</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="javascript:void(0)">
                                MEDİA
                                <i class="far fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./pages/news.html">Xəbərlər</a></li>
                                <li><a class="dropdown-item" href="./pages/blog.html">Video Blog</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./pages/branch.html">FİLİALLAR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./pages/faq.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./pages/contact.html">ƏLAQƏ</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section id="homeSlide" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#homeSlide" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#homeSlide" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#homeSlide" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="./images/slide-img-1.jpg" class="d-block w-100" alt="./images/slide-img-1.jpg">
                    <div class="carousel-caption">
                        <h1>ONLAYN MÜRACİƏT İMKANI</h1>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="./images/slide-img-2.jpg" class="d-block w-100" alt="./images/slide-img-2.jpg">
                    <div class="carousel-caption">
                        <h1>GÖMRÜK TƏMSİLÇİLİYİNDƏKİ DOSTUNUZ</h1>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="./images/slide-img-3.jpg" class="d-block w-100" alt="./images/slide-img-3.jpg">
                    <div class="carousel-caption">
                        <h1>VAXTA VƏ XƏRCLƏRƏ QƏNAƏT</h1>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#homeSlide" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#homeSlide" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </section>
        <section class="results container">
            <div class="row">
                <div class="col-6 col-md-6 col-lg-3 py-5">
                    <div class="result-card d-flex flex-column">
                        <i class="fal fa-chart-network"></i>
                        <div class="result-card-content">
                            <div class="counter-result d-flex ">
                                +
                                <span class="counter">3500</span>
                            </div>
                            <p class="text">ƏMƏKDAŞLIQ</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3 py-5">
                    <div class="result-card d-flex flex-column">
                        <i class="fal fa-industry-alt"></i>
                        <div class="result-card-content">
                            <div class="counter-result d-flex ">
                                +
                                <span class="counter">5</span>
                            </div>
                            <p class="text">FİLİAL</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3 py-5">
                    <div class="result-card d-flex flex-column">
                        <i class="fal fa-people-carry"></i>
                        <div class="result-card-content">
                            <div class="counter-result d-flex ">
                                +
                                <span class="counter">100</span>
                            </div>
                            <p class="text">İŞÇİ HEYƏTİ</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3 py-5">
                    <div class="result-card d-flex flex-column">
                        <i class="fal fa-smile"></i>
                        <div class="result-card-content">
                            <div class="counter-result d-flex ">
                                +
                                <span class="counter">4</span>
                            </div>
                            <p class="text">İL TƏCRÜBƏ</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="home-about-us">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <img src="./images/home-about-us.jpg" alt="">
                    </div>
                    <div class="col-12 col-md-6 pt-5 pt-md-0 ps-0 ps-md-5">
                        <h1 class="home-about-us-title">Haqqımızda</h1>
                        <h5 class="home-about-us-subtitle">Böyük şəbəkəyə sahib olan şirkət kompleks gömrük xidmətləri
                        </h5>
                        <p class="home-about-us-text">
                            MOBIL GROUP-un törəmə şirkəti olan Mobil Broker MMC beynəlxalq təcrübə əsasında qurulan
                            müasir gömrük təmsilçiliyidir. Mobil Broker 2017-cı ildən etibarən gömrük brokeri qismində
                            fəaliyyətdədir. Böyük şəbəkəyə sahib olan şirkət kompleks gömrük xidmətləri
                        </p>
                        <a href="./pages/about.html" class="btn-black">Ətraflı</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="services">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="title">Xidmətlərimiz</h1>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <a href="./pages/service-detail.html"
                            class="service-card d-flex flex-column align-items-center justify-content-between">
                            <img src="./images/service-icon-1.png" class="service-card-img" alt="service-icon-1">
                            <div>
                                <h4 class="service-card-title">Gömrük bəyannamələrinin tərtibi</h4>
                                <p class="service-card-text">Gömrük rəsmiləşdirilməsi zamanı Sizi uzun növbələrdən xilas
                                    et...</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <a href="./pages/service-detail.html"
                            class="service-card d-flex flex-column align-items-center justify-content-between">
                            <img src="./images/service-icon-2.png" class="service-card-img" alt="service-icon-2">
                            <div>
                                <h4 class="service-card-title">Gömrük bəyannamələrinin tərtibi</h4>
                                <p class="service-card-text">Gömrük rəsmiləşdirilməsi zamanı Sizi uzun növbələrdən xilas
                                    et...</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <a href="./pages/service-detail.html"
                            class="service-card d-flex flex-column align-items-center justify-content-between">
                            <img src="./images/service-icon-3.png" class="service-card-img" alt="service-icon-3">
                            <div>
                                <h4 class="service-card-title">Gömrük bəyannamələrinin tərtibi</h4>
                                <p class="service-card-text">Gömrük rəsmiləşdirilməsi zamanı Sizi uzun növbələrdən xilas
                                    et...</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <a href="./pages/service-detail.html"
                            class="service-card d-flex flex-column align-items-center justify-content-between">
                            <img src="./images/service-icon-4.png" class="service-card-img" alt="service-icon-4">
                            <div>
                                <h4 class="service-card-title">Gömrük bəyannamələrinin tərtibi</h4>
                                <p class="service-card-text">Gömrük rəsmiləşdirilməsi zamanı Sizi uzun növbələrdən xilas
                                    et...</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <a href="./pages/service-detail.html"
                            class="service-card d-flex flex-column align-items-center justify-content-between">
                            <img src="./images/service-icon-5.png" class="service-card-img" alt="service-icon-5">
                            <div>
                                <h4 class="service-card-title">Gömrük bəyannamələrinin tərtibi</h4>
                                <p class="service-card-text">Gömrük rəsmiləşdirilməsi zamanı Sizi uzun növbələrdən xilas
                                    et...</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <a href="./pages/service-detail.html"
                            class="service-card d-flex flex-column align-items-center justify-content-between">
                            <img src="./images/service-icon-6.png" class="service-card-img" alt="service-icon-6">
                            <div>
                                <h4 class="service-card-title">Gömrük bəyannamələrinin tərtibi</h4>
                                <p class="service-card-text">Gömrük rəsmiləşdirilməsi zamanı Sizi uzun növbələrdən xilas
                                    et...</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="calculator">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 class="title">Gömrük kalkulyatoru</h4>
                        <p>Ölkə ərazisinə gətirmək istədiyiniz avtonəqliyyat vasitələrinin gömrük rəsmiləşdirilməsi
                            zamanı
                            anlaşılmazlıqların baş verməməsi məqsədilə həmin avtonəqliyyat vasitələrinin Avro-4 ekoloji
                            normalarına
                            uyğun olmasını müəyyən etmək üçün ətraflı məlumatların (zavod buraxılış tarixi, markası,
                            şassi
                            nömrəsi,
                            rəngi və s.) qabaqcadan Dövlət Gömrük Komitəsinin Mərkəzi Gömrük Ekspertizası İdarəsinə
                            təqdim
                            edilməsi
                            tələb olunur.</p>
                        <a href="./pages/calculator.html" class="btn-black">Hesabla</a>
                    </div>
                </div>
            </div>
        </section> -->
        <section class="container brands">
             <h1 class="text-center">ORTAQLARIMIZ</h1>
            <div class="owl-carousel">
                <div class="item">
                    <img src="./images/brands/adl.png" alt="">
                </div>
                <div class="item">
                    <img src="./images/brands/boyner.png" alt="">
                </div>
                <div class="item">
                    <img src="./images/brands/colins.png" alt="">
                </div>
                <div class="item">
                    <img src="./images/brands/defacto-new.png" alt="">
                </div>
                <div class="item">
                    <img src="./images/brands/gittigidiyor.png" alt="">
                </div>
                <div class="item">
                    <img src="./images/brands/karacahome.png" alt="">
                </div>
                <div class="item">
                    <img src="./images/brands/lacoste.png" alt="">
                </div>
                <div class="item">
                    <img src="./images/brands/lcwaiki.png" alt="">
                </div>
                <div class="item">
                    <img src="./images/brands/mavitr.png" alt="">
                </div>
                <div class="item">
                    <img src="./images/brands/morhipo.png" alt="">
                </div>
                <div class="item">
                    <img src="./images/brands/trenyol.png" alt="">
                </div>
            </div>
        </section>
        <section class="advantages">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 advantages-left-column">
                    <h1 class="advantages-title ms-auto">Move Your Cargo Across All Modes</h1>
                    <p class="advantages-text ms-auto">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
                <div class="col-12 col-md-6 advantages-right-column">
                    <div class="row g-0">
                        <div class="col-12 col-md-6">
                            <div class="advantage-image">
                                <img src="./images/advantages-1.jpg" alt="">
                                <div class="advantage-overlay">
                                    <p>Transportation</p>
                                    <span class="overlay-icon">
                                        <i class="fas fa-truck icon"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="advantage-image">
                                <img src="./images/advantages-2.jpg" alt="">
                                <div class="advantage-overlay">
                                    <p>Logostics</p>
                                    <span class="overlay-icon">
                                        <i class="fas fa-shipping-fast icon"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="advantage-image">
                                <img src="./images/advantages-3.jpg" alt="">
                                <div class="advantage-overlay">
                                    <p>Delivery</p>
                                    <span class="overlay-icon">
                                        <i class="fas fa-truck-loading icon"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="advantage-image">
                                <img src="./images/advantages-4.jpg" alt="">
                                <div class="advantage-overlay">
                                    <p>Courier Service</p>
                                    <span class="overlay-icon">
                                        <i class="fas fa-box  icon"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-top">
            <div class="container d-flex justify-content-between align-items-center">
                <h3>Bizə Qoşul</h3>
                <a class="btn-black" href="./pages/contact.html">Online Əlaqə</a>
            </div>
        </div>
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-4">
                        <img src="./images/logo-white.png" alt="">
                        <p class="footer-text">
                            MOBIL GROUP-un törəmə şirkəti olan Mobil Broker MMC beynəlxalq təcrübə əsasında qurulan
                            müasir gömrük təmsilçiliyidir. Mobil Broker 2017-cı ildən etibarən gömrük brokeri qismində
                            fəaliyyətdədir. Böyük şəbəkəyə sahib olan şirkət kompleks gömrük xidmətləri
                        </p>
                        <div class="mb-3 sosial-icons d-flex align-items-center">
                            <a href="https://www.facebook.com/" target="_blank" class="facebook-icon"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/" target="_blank" class="instagram-icon"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://twitter.com/" target="_blank" class="twitter-icon"><i
                                    class="fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/" target="_blank" class="linkedin-icon"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a href="https://www.youtube.com/" target="_blank" class="youtube-icon"><i
                                    class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2">
                        <h4 class="footer-title">Menyu</h4>
                        <ul>
                            <li><a class="footer-link" href="./pages/whoweare.html">Broker Kimdir?</a></li>
                            <li><a class="footer-link" href="./pages/about.html">Haqqımızda</a></li>
                            <li><a class="footer-link" href="./pages/services.html">Xidmətlərimiz</a></li>
                            <li><a class="footer-link" href="./pages/branch.html">Filiallar</a></li>
                            <li><a class="footer-link" href="./pages/fag.html">FAG</a></li>
                            <li><a class="footer-link" href="./pages/contact.html">Əlaqə</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-8 col-lg-3">
                        <h4 class="footer-title">Xidmətlərimiz</h4>
                        <ul>
                            <li><a class="footer-link" href="#">Gömrük bəyannamələrinin tərtibi</a></li>
                            <li><a class="footer-link" href="#">Tam gömrük təmsilçiliyi</a></li>
                            <li><a class="footer-link" href="#">Avtomobillərin gömrük rəsmiləşdirilməsi</a></li>
                            <li><a class="footer-link" href="#">Sertifikat və icazələrin alınması</a></li>
                            <li><a class="footer-link" href="#">Onlayn müraciət imkanı</a></li>
                            <li><a class="footer-link" href="#">Ödənişsiz konsultasiya</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                        <h4 class="footer-title">Əlaqə məlumatları</h4>
                        <ul class="contact-info">
                            <li><a class="footer-link" href="tel:0090"><i class="far fa-mobile-android"></i> *0090
                                    (çağrı mərkəzi)</a></li>
                            <li><a class="footer-link" href="tel:+994513339090"><i class="far fa-phone-alt"></i>
                                    0513339090</a></li>
                            <li><a class="footer-link" href="./index.html"><i class="far fa-globe"></i>
                                    http://mobilbroker.az/</a></li>
                            <li><a class="footer-link" href="mailto:info@mobilbroker.az"><i class="far fa-envelope"></i>
                                    info@mobilbroker.az</a></li>
                            <li><a class="footer-link" href="#"><i class="far fa-map-marker-alt"></i> Əhməd Rəcəbli 156,
                                    Aynalı Plaza</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>Bütün hüquqlar qorunur. © 2021 | Mobil Broker</p>
            </div>
        </div>
    </footer>
    <div class="messenger-container">
        <div class="messenger-iframe">
            <div class="messenger-iframe-header">
                <p><i class="fab fa-facebook-messenger"></i> Facebook Messenger</p>
                <i class="fas fa-times messenger-close"></i>
            </div>
            <iframe
                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F111505943678099&tabs=messages&width=302&height=300&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId"
                frameborder="0"></iframe>
        </div>
        <a href="javascript:void(0)" class="messenger-icon">
            <i class="fab fa-facebook-messenger"></i>
        </a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js'></script>
    <script src='https://cdn.jsdelivr.net/jquery.counterup/1.0/jquery.counterup.min.js'></script>
    <script src="./plugin/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="./js/app.js"></script>
    <script>
        $('.counter').counterUp({
            delay: 10,
            time: 2000
        })
    </script>
</body>

</html>
